<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Fruitopia</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="img/logo.png" alt="" />
        <ul class="toggle-menu hide">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
        <div class="menu">
          <img src="img/menu.png" alt="" />
        </div>
      </div>

      <div class="banner">
        <div class="left-column">
          <div class="search-box">
            <img src="img/search.png" alt="" />
            <input type="text" />
          </div>
          <h1>Straw<span>berries</span></h1>
          <h3>Always fills your <span>heart with joy</span></h3>
          <p>
            The standard chunk of Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Temporibus, eum? Temporibus nihil laboriosam, ex
            iste nostrum provident aspernatur dolorem.
          </p>

          <div class="btn">
            <buttom class="primary-btn" type="buttom">Learn More</buttom>
            <buttom type="buttom">Watch video</buttom>
          </div>

          <div class="social-icons">
            <img src="img/twitter.png" alt="" />
            <img src="img/instagram.png" alt="" />
            <img src="img/pinterest.png" alt="" />
            <img src="img/facebook.png" alt="" />
          </div>
        </div>

        <div class="right-column">
          <img src="img/feature.png" alt="" />
        </div>
      </div>

      <footer>
        <p>2020 &copy; Landing Page - made by evanscodes</p>
      </footer>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
